/**
 * Created by pw on 14-10-13.
 */


.btn-analysis {
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #007AFF;
    display: inline-block;
    border-radius: 8px;
    color: #ffffff;
}

.btn-analysis:hover {
    background: #008800;
    cursor: pointer;
}

.log {
    height: 400px;
    border-radius: 2px;
    margin-bottom: 12px;
    background: #000;
    color: #fff;
    padding: 10px 5px;
    overflow-x: hidden;
    overflow-y: auto;
}