/**
 * Created by pw on 14-10-13.
 */

.btn-analysis {
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #007AFF;
    display: inline-block;
    border-radius: 8px;
    color: #ffffff;
}

.btn-analysis:hover {
    background: #008800;
    cursor: pointer;
}

.progress li {
    margin: 15px 5px;
    font-size: 18px;
    opacity: 0.1;
}

.progress li.ing {
    opacity: 0.8;
    color: #00f;
}

.progress li.done {
    opacity: 1;
    color: #080;
}